* {
    font-family: 'Mulish', sans-serif; /* Fuente secundaria */
}

#root {
    max-width: 1280px;
    min-width: 450px;
    margin: 0 auto;
    padding: 0px;
    display: flex;
  }

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 1em;
  }

.container {
    display: flex;
    border: 0px;
    padding: 0px;
    justify-content: space-between;
    flex: 1;
    flex-direction: column; 
    align-items: flex; 
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

body {
    margin-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    display: grid;
}

.searchForm {
    margin: 10px;
}

.textCountry {
    /* Pais al que pertenece cada imagen */
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #333333;
    text-align: left;
}

.cardSites {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            50px,
            1fr
        )
    );
    gap: 16px;
}

.listSites {
    list-style-type: none;
}

.imageApartment {
    /* Imagen formato */
    border-radius: 24px;
    width: 100%;
    height: auto;
    /*width: ; 
    height: 269px;*/
}

.textSuperHost {
    /* SuperHost de cada imagen */
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #4F4F4F;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    vertical-align: middle;
    border-radius: 20px;
    border-color: #4F4F4F;
    border-width: 1px;
    margin-right: 10px;
}

.textType {
    /* Tipo de cada imagen */
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #828282;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    vertical-align: middle;
}

.logo {
    height: 1em;
    padding: 0px;
    margin-right: 8px;
  }

.textRating {
    /* Raiting de cada imagen */
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #4F4F4F;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    vertical-align: middle;
    position:relative;
    left: 50px;
}

.textTitle {
    /* Titulo de cada imagen */
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #333333;
}